<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.DeliveryJetApp.deliveryjet">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliveryJet">
        <activity android:name="com.DeliveryJetApp.deliveryjet.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.DeliveryJetApp.deliveryjet.LoginActivity"></activity>'
        <activity android:name="com.DeliveryJetApp.deliveryjet.OrderDetails"></activity>'
        <activity android:name="com.DeliveryJetApp.deliveryjet.DeliveryManFeed"></activity>
        <activity android:name="com.DeliveryJetApp.deliveryjet.CompanyFeed"></activity>
        <activity android:name="com.DeliveryJetApp.deliveryjet.EditDeliveryManProfile"></activity>
        <activity android:name="com.DeliveryJetApp.deliveryjet.CreateOrder"></activity>
        <activity android:name="com.DeliveryJetApp.deliveryjet.EditCompanyProfile"></activity>
        <activity android:name="com.DeliveryJetApp.deliveryjet.OrderDetailsCompany"></activity>

    </application>

</manifest>